<% include ../partials/header.ejs %>
<div class="container content">
	<h1>Add A New Class</h1>
	<form action="/classes" method="post">
		<div class="form-group">
			<label for="class[name]" >Name:</label>
			<input type="text" name="class[name]" class="form-control">
		</div>
		<div class="form-group">
			<label for="class[hd]" >Hit Die:</label>
			<select name="class[hd]" id="" class="form-control">
				<% for(i = 4; i < 14; i=i+2){ %>
					<option value="<%= i %>"><%= i %></option>
				<% } %>
			</select>
		</div>
		<div class="form-group">
			<label for="class[bab]">Base Attack Bonus:</label>
			<select name="class[bab]" id="" class="form-control">
				<option value="Full">Full</option>
				<option value="Medium">Medium</option>
				<option value="Half">Half</option>
			</select>
		</div>
		<div class="form-group">
			<h2>Proficiencies</h2>
			<div class="row">
				<div class="col-xs-1">
					<p><strong>Weapons:</strong></p>
				</div>
				<div class="col-xs-1">
					<label for="class[simple]">
						<input type="checkbox" class="form-check-input" name="class[simple]">
						Simple
					</label>
				</div>
				<div class="col-xs-1">
					<label for="class[martial]">
						<input type="checkbox" class="form-check-input" name="class[martial]">
						Martial
					</label>
				</div>
				<div class="col-xs-2">
					<label for="class[otherWeapons]">Other Weapons:</label>
				</div>
				<div class="col-xs-7">
					<input type="text" name="class[otherWeapon]" class="form-control">
				</div>
				</div>
				<div class="col-xs-2"></div>
				<div class="col-xs-2"></div>
			</div>
		<div class="form-group">
			<div class="row form-group">
				<div class="col-xs-1">
					<p><strong>Armor:</strong></p>
				</div>
				<div class="col-xs-1">
					<label for="class[light]">
						<input type="checkbox" name="class[light]">
						Light
					</label>
				</div>
				<div class="col-xs-1">
					<label for="class[medium]">
						<input type="checkbox" name="class[medium]">
						Med
					</label>
				</div>
				<div class="col-xs-1">
					<label for="class[heavy]">
						<input type="checkbox" name="class[heavy]">
						Heavy
					</label>
				</div>
			</div>
		</div>
		<h2>Skills</h2>
		<div class="form-group">
			<div class="row">
			<% for(i=0; i<skillList.length; i++){%>
				<div class="col-sm-3">
					<label for="">
						<input type="checkbox" name="class[skill][<%=skillList[i]%>]">
						<%= skillList[i] %>
					</label>
			</div>
			<% } %>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<label for="">
						<input type="checkbox" name="class[acrobatics]">
						Acrobatics
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<input type="checkbox" name="class[spellcasting]">
			<label for="class[spellcasting]">Spellcasting:</label>
			<select name="class[spellprogression]" id="">
				<option value="Cleric">Full</option>
				<option value="Sorcerer">Sorcerer</option>
				<option value="Duskblade">Duskblade</option>
				<option value="Paladin">Paladin</option>
			</select>
		</div>
		<h2>Saves:</h2>
		<div class="row">
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input class="form-check-input" type="checkbox" value="" name="class[fort]">
				Fortitude
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input class="form-check-input" type="checkbox" value="" name="class[ref]">
				Reflex
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input class="form-check-input" type="checkbox" value="" name="class[will]">
				Will
			</label>
		</div>
		<h2>Class Features</h2>
		<h3>Advancement:</h3>
		<div class="row form-group">
			<div class="col-xs-1"><h4>Level</h4></div>
			<div class="col-xs-11"><div class="text-center"><h4>Special</h4></div></div>
		</div>
		<% for(i=1; i<21; i++){ %>
			<div class="row form-group">
				<div class="form-group">
					<div class="col-xs-1">
						<label for="class[advancement][<%=i%>]">
							<%if(i==1){%> <%=i%>st <%}%>
							<%if(i==2){%> <%=i%>nd <%}%>
							<%if(i==3){%> <%=i%>rd <%}%>
							<%if(i>3){%>  <%=i%>th <%}%>
						</label>
					</div>
					<div class="col-xs-11">
						<input type="text" class="form-control" name="class[advancement][<%=i%>]">
					</div>
				</div>
			</div>
		<% } %>
		<h3>Descriptions:</h3>
		<div id="features">
		</div>
		<button class="btn btn-primary" type="button" onclick="createFeature()">Add Feature</button>
		<button class="btn btn-primary form-control">Submit</button>
	</form>
</div>
<script src="/js/classes/main.js"></script>
<% include ../partials/footer.ejs %>